@mixin card($header, $content) {
    background-color: $card-color;
    border: 1px solid $card-edge;
    border-radius: 10px;
    box-shadow: 3px 3px 5px $shadow-mid;
    overflow-y: hidden;

    #{$header} {
        background-color: $trim-color;
        color: $light-text-color;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        padding: 10px;
    }

    #{$content} {
        font-size: 18px;
        margin: 10px;
    }
}
