#forms-container {
    @extend %flex-center-space-around;
    grid-column: 4 / span 6;
    padding: 40px 0;
    flex-wrap: wrap;

    .form-info {
        @include card(h2, div);
        margin: 20px;
        min-width: 300px;
    }

    a {
        text-decoration: underline;
        color: $link-color;
    }

    button {
        @include button($light-text-color, $danger-color);
    }
}
