.edit-section {
    margin: 0 0 20px 0;
    @include card(".edit-section-header", ".edit-section-content");
    position: relative;

    .edit-section-details {
        padding-right: 150px;
        .edit-section-details-button {
            @include button($light-text-color, $edit-color);
        }

        h3 {
            @extend %margin-10-0;
            font-weight: bold;
            font-size: 20px;
        }

        p {
            @extend %margin-10-0;
            font-size: 20px;
        }
    }

    .delete {
        @include button($light-text-color, $danger-color);
        position: absolute;
        right: 10px;
    }

    .edit-input-list {
        .add-input {
            @include button($light-text-color, $edit-color);
            @extend %margin-10-0;
        }
        .cancel-add-input {
            @include button($light-text-color, $danger-color);
            @extend %margin-10-0
        }
    }
}
