.response {
    @extend %margin-20-0;
    @include card('.response-header', '.response-body');
    position: relative;

    .response-body {
        padding: 0 200px 0 20px;

        ul {
            list-style: none;
            padding: 0;

            li {
                @extend %margin-10-0;

                span {
                    font-weight: bold;
                }
            }
        }

        button {
            @include button($light-text-color, $danger-color);
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}